.user-list {
  .card {
    .header {
      .card-header-title {
        font-weight: 400 !important;
        padding-left: 2rem;
      }
    }

    &.selected {
      background-color: rgb(240, 240, 240);
    }

    &:last-child {
      box-shadow: 0 0 0 rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    }
  }
}